{% extends "base.html" %}

{% block page_content %}
    <div class="col-md-8 offset-md-2">
        <h1>{{ post.title }}</h1>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'blog:blog_category' category.name %}">{{ category.name }}</a>
            {% endfor %}
        </small>
        <p>{{ post.body | linebreaks }}</p>
        <h3>Leave a comment:</h3>
        <form action="{% url 'blog:blog_detail' post.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.author }}
                {{ forms.author.errors }}
            </div>
            {{ form.author.errors }}
            <div class="form-group">
                {{ form.body }}
            </div>
            {{ forms.body.errors }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        {% if comments %}
            <h3>
                <b>{{ comments_count }}</b>&nbsp;
                Comment{% if comments_count > 1 %}s{% endif %}
                {{ value|yesno:'s,' }}
            </h3>
        {% endif %}
        {% for comment in comments %}
            <p>
                On {{ comment.created_on.date }}&nbsp;;
                <b>{{ comment.author }}</b> wrote:
            </p>
            <p>{{ comment.body }}</p>
        {% endfor %}
    </div>
{% endblock %}